<ac-form class="mb-0" (submit)="handleFormSubmit()">
  <div class="ac-modal-body">
    <div class="p-2 modal-body">
      <div class="row">
        <div class="col-12">
          <ac-dd-input-field [name]="TblActTaxRates.TaxRateName" [attr.table-name]="Tables.ActTaxRates"
            [attr.column-name]="TblActTaxRates.TaxRateName"
            [(ngModel)]="record[TblActTaxRates.TaxRateName]" />
        </div>
        <div class="col-12">
          <ac-dd-input-field [name]="TblActTaxRates.TaxRatePercentage" [attr.table-name]="Tables.ActTaxRates"
            [attr.column-name]="TblActTaxRates.TaxRatePercentage"
            [(ngModel)]="record[TblActTaxRates.TaxRatePercentage]" />
        </div>
        <div class="col-12">
          <ac-dd-input-field [name]="TblActTaxRates.IsActive" [attr.table-name]="Tables.ActTaxRates"
            [attr.column-name]="TblActTaxRates.IsActive" [(ngModel)]="record[TblActTaxRates.IsActive]" />
        </div>
      </div>
    </div>
    <hr class="m-0">
    <div class="p-2"><button type="submit" class="btn btn-dark">Save Tax Rate</button></div>
  </div>
</ac-form>
<ac-ng-datagrid-select
#selectInput
inputClass="form-control"
[labelKey]="'first_name'"
[valueKey]="'customer_id'"
[columnDefinitions]="columnDefinitions"
[data]="data"
[onDemandFunction]="onDemandFunction"
[templateHeader]="headerTemplate"
[templateFooter]="footerTemplate"
[columnRendererTemplates]="{
  'index':idTemplate,
}"
(onDatagridInit)="handleDatagridInit()"
(stateChange)="handleStateChange($event)"
></ac-ng-datagrid-select>

<ac-datagrid-select
#selectDatagridInput
inputClass="form-control"
[labelKey]="'first_name'"
[valueKey]="'customer_id'"
[columnDefinitions]="columnDefinitions"
[data]="data"
[onDemandFunction]="onDemandFunction"
[templateHeader]="headerTemplate"
[templateFooter]="footerTemplate"
[columnRendererTemplates]="{
  'index':idTemplate,
}"
(datagridInit)="handleDatagridInit()"
(stateChange)="handleStateChange($event)"
></ac-datagrid-select>

<ng-template #idTemplate let-value="value" let-datagridRow="datagridRow">
  {{value}}
</ng-template>
<ng-template #headerTemplate>
  <div style="height:55px">
    This is header content of datagrid select from template
  </div>
</ng-template>
<ng-template #footerTemplate>
  <div style="height:55px">
  This is footer content of datagrid select from template
  </div>
</ng-template>
