Total Rows : {{dataGrid.totalRows}}
<button class="btn btn-secondary" (click)="dataGrid.exportData()">Export as Excel</button>
<button class="btn btn-secondary" (click)="dataGrid.refreshData()">Refresh Data</button>
<button class="btn btn-secondary" (click)="dataGrid.toggleColumnsCustomizer()">Columns Customizer</button>
<button class="btn btn-secondary" (click)="dataGrid.clearSelection()">Clear Selection</button>
<button class="btn btn-secondary" (click)="handleGetGroupedData()">Get Group Data</button>
<ac-input class="form-control" #searchInput style="width:100%;height:100%;" placeholder="Search..."/>
<div style="height:70vh;">
  <ac-datagrid-on-aggrid
  #dataGrid
  [data]="data"
  [columns]="columns"
  [editable]="true"
  [pagination]="false"
  [footerTemplate]="footerTemplate"
  [filterSearchValue] = "searchInput.value"
  [selectMultiple]="true"
  [autoAddNewRow]="true"
  groupLabelKey="title"
  [groupChildKey]="'parentId'"
  [groupParentKey]="'id'"
  [selectMultiple]="false"
  (onActiveRowChange)="handleActiveRowChange($event)"
  (onCellFocused)="handleCellFocused($event)"
  (onCellRenderComponentInit)="handleCellRenderComponentInit($event)"
  (onCellValueChanged)="handleCellValueChanged($event)"
  (onRowAdded)="handleRowAdded($event)"
  (onRowDataModified)="handleRowDataModified($event)"
  (onRowDeleted)="handleRowDeleted($event)"
  (onRowDragStart)="handleRowDragStart($event)"
  (onRowDragEnd)="handleRowDragEnd($event)"
  (onRowFocus)="handleRowFocus($event)"
  (onRowSelected)="handleRowSelected($event)"
  (onRowUpdated)="handleRowUpdated($event)"
  >
<ac-datagrid-column [allowSort]="false" [allowEdit]="false" [allowFilter]="false" [style]="'max-width:100px;'" />
  </ac-datagrid-on-aggrid>
</div>
<ng-template #footerTemplate>
  <button class="btn btn-secondary" (click)="dataGrid.addRow()">Add Row</button>
</ng-template>
