@use "sass:math";
// General Styles
$node-bg-color: #2b2f48;
$node-border-color: #3b3f5c;
$node-text-color: #ffffff;
$connection-color: #e74c3c;
$chat-bg-color: #f5f7fa;
$chat-text-color: #333333;
$chat-input-bg-color: #ffffff;
$chat-send-button-bg-color: #3498db;
$chat-send-button-text-color: #ffffff;

:host {
  display: flex;
  height: 100%;
  background-color: #f0f3f7;
  font-family: Arial, sans-serif;
}

// Editor container
#editor {
  flex: 1;
  background-color: #f0f3f7;
  overflow: hidden;
  position: relative;
}

// Node styles
.node {
  min-width: 250px;
  background-color: $node-bg-color;
  border: 2px solid $node-border-color;
  border-radius: 6px;
  color: $node-text-color;
  font-size: 14px;
  padding: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  &.selected {
    border-color: lighten($node-border-color, 20%);
  }

  .socket{
    display:inline-block;
  }
}

.node-input{
  width:20px;
  height:20px;
  display:inline-block;
  background-color: white;
  border: solid 2.5px rgb(0, 81, 12);
  padding:3px;
  border-radius: 50%;
}

.node-output{
  width:20px;
  height:20px;
  display:inline-block;
  background-color: white;
  border: solid 2.5px red;
  padding:3px;
  border-radius: 50%;
}
