@use "./../../../../packages/browser/ac-browser/src/lib/components/ac-tabs/css/ac-vscode-window-tabs.css";

.ac-window-tabs-container{
  height: max-content;
  border-bottom: none;
  padding-left: 1px;
}
.ac-window-tab-item{
  width: 10vw;
  height: 35px;
  margin-left: -1px;
  border-left:solid 1px #333;
  background-color: inherit;
  border-collapse: collapse;
  padding-top: 3px;
  border-top-left-radius:10px;
  border-top-right-radius:10px ;
}
.ac-window-tab-item.active {
  border-top: 3px solid #e36314;
  background-color: var(--cui-tertiary-bg);
  color: white;
  border-left:none;
}
[data-coreui-theme=dark] .ac-window-tab-item.active {
  background-color: var(--cui-dark-bg-subtle);
  color: white;
}
.ac-window-tab-title{
  font-size: var(--cui-body-font-size);
}
.ac-window-tab-close{
  margin-right: 2px;
}
