<!-- <ac-datagrid-on-ag-grid [data]="data" [editable]="true" [pagination]="true">
  <ac-datagrid-column field="id">
    <ng-template acDatagridColumnRenderTemplate let-rowData="rowData" let-column="column" >
      Id : <b>{{rowData[column.field]}}</b>
    </ng-template>
    <ng-template acDatagridColumnEditTemplate let-rowData="rowData" let-column="column">
      <ac-input style="width:100%;height:100%;" [autoFocus]="true" [record]="rowData"
        [field]="column.field" [value]="rowData[column.field]" />
    </ng-template>
  </ac-datagrid-column>
  <ac-datagrid-column field="name" [style]="'min-width:100px;'" />
  <ac-datagrid-column field="gender" [style]="'min-width:120px;'" />
  <ac-datagrid-column field="dateOfBirth" [style]="'min-width:120px;'" />
  <ac-datagrid-column field="hobbies" />
  <ac-datagrid-column field="about" />
</ac-datagrid-on-ag-grid> -->
