<ac-ng-datagrid #datagrid [columnDefinitions]="columnDefinitions" [data]="data" [onDemandFunction]="onDemandFunction"
[columnRendererTemplates]="{
  'index':idTemplate,
  'action':actionTemplate,
}"
[columnEditorTemplates]="{
  'first_name':nameTemplate,
  'company':companyEditorTemplate
}"
(datagridInit)="handleDatagridInit($event)"
(cellEditorElementDestroy)="handleCellEditorDestroy($event)"
(cellEditorElementInit)="handleCellEditorInit($event)"
(cellKeyUp)="handleCellKeyUp($event)"
(cellValueChange)="handleCellValueChange($event)"
/>
<ng-template #idTemplate let-value="value" let-datagridRow="datagridRow">
  {{value}}
</ng-template>
<ng-template #nameTemplate let-value="value" let-datagridRow="datagridRow">
  <ac-input [attr.name]="datagridRow.rowId" [(ngModel)]="datagridRow.data['first_name']" (change)="handleNameChange(datagridRow)" (init)="handleElementInit($event,datagridRow)"/>
</ng-template>
<ng-template #companyEditorTemplate let-datagridRow="datagridRow" let-data="data">
  <customer-company-select-input [attr.name]="`${datagridRow.rowId}_company`"
    [(ngModel)]="datagridRow.data['company']" (change)="handleCompanyChange({datagridRow})"
    (init)="handleDropdownInit($event)" (datagridInit)="handleCellDatagridInit($event)"></customer-company-select-input>
</ng-template>
<ng-template #actionTemplate let-value="value" let-datagridRow="datagridRow">
  Auto Save Status :
  <ng-container *ngIf="datagridRow && datagridRow.extensionData && datagridRow.extensionData['autoSaveRow']">
    {{datagridRow.extensionData['autoSaveRow'].status}}
  </ng-container>
  <!-- <action-column (onEdit)="handleEdit(datagridRow)" [showDelete]="false" /> -->
</ng-template>
